$font-family-1: "Nunito Sans";
$font-family-2: Poppins;


@mixin text-style-1($font-size, $line-height, $font-weight){
    font-family: $font-family-1;
    font-style: normal;
    line-height: $line-height;
    font-size: $font-size;
    font-weight: $font-weight;
}
@mixin text-style-2($font-size, $line-height, $font-weight){
    font-family: $font-family-2;
    font-style: normal;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}

@mixin ele-size($width, $height){
    width: $width;
    height: $height;
}

@mixin ele-size_padding($width, $height, $padding){
    @include ele-size($width, $height);
    padding: $padding;
}

@mixin hover-button(){
    background: linear-gradient(to left, #FF5A3D 50%, white 50%);
    background-size: 200% 100%;
    background-position:right top;
    transition: all 1s ease;

    &:hover{
        background-position:left top;
        color: black;
        border-color: black;
    }
}

@mixin hover-link(){
    transition: color 0.3s ease;

    &:hover{
        color: #FF5A3D;
    }
}
