.cta{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: linear-gradient(180deg, #FFF 50%, #181C2B 50%);

    .cta-card{
        width: 70%;
        background: #FF5A3D;
        box-shadow: 0px 16px 32px 0px rgba(7, 26, 29, 0.10);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;

        .cta-text{
            display: flex;
            flex-direction: column;
            gap: 30px;

            & p:first-child{
                margin: 0;
                color: #FFF;
                @include text-style-2(36px, 45px, 700);
            }

            & p:last-child{
                margin: 0;
                color: #FFF;
                @include text-style-1(16px, 25px, 400);
            }
        }

        & button{
            padding: 17px 41px;
            display: flex;
            @include place-center;
            border: 1px solid #FFF;
            background: #FFF;
            box-shadow: 0px 16px 32px 0px rgba(7, 26, 29, 0.10);
            color: #000;
            text-transform: capitalize;
            @include text-style-2(16px, normal, 400);
            @include hover-button-1;

            & img{
                padding-left: 10px;
            }
        }
    }
}

.footer{
    display: flex;
    padding-top: 80px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background: #181C2B;

    .container{
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 80px;

        .footer-brand{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-basis: 40%;

            .footer-brand-text{
                color: #FFF;
                @include text-style-1(16px, 25px, 400);
                width: 70%;
            }
    
            .footer-address,.footer-call,.footer-mail{
                margin: 8px 0;
                display: flex;
                gap: 10px;
                color: #FFF;
                @include text-style-1(16px, normal, 400);
    
                & img{
                    width: 18px;
                    height: 18px;
                }
            }
    
            .footer-icons{
                display: flex;
                margin-top: 15px;
                gap: 20px;
            }
        }

        .footer-link-box{
            display: flex;
            justify-content: space-around;
            flex-basis: 60%;

            .footer-list{
                display: flex;
                flex-direction: column;
                gap: 25px;

                .footer-item-title{
                    margin: 0;
                    color: #FFF;
                    @include text-style-2(22px, normal, 700);
                }

                .footer-item-link{
                    margin: 0;
                    color: #FFF;
                    @include text-style-1(16px, normal, 400);
                }
                & a{
                    text-decoration: none;
                    @include hover-link;
                }
            }
        }
    }

    .copyright{
        display: flex;
        width: 100%;
        padding: 10px 0px;
        @include place-center;
        background: #282B39;

        & p{
            height: 22px;
            color: #FFF;
            text-align: center;
            @include text-style-1(16px, normal, 400);
        }
    }
}