@import 'variables';

@media screen and (max-width: 356px){
    /*  -------------------- Header  -------------------- */
    /* ************************************************** */
    .header-top{
        height: 120px;
        align-items: flex-start;
        justify-content: center;

        .container{
            flex-direction: column;
            gap: 5px;

            .header-top-list{
                flex-direction: column;
                justify-content: center;
                gap: 5px;
        
                .header-top-link address{
                    width: 150px;
                }
            }

            .wrapper{
                flex-direction: column;
                gap: 5px;
            }
        }
    }
    
    /* -------------------- Menu -------------------- */
    /* show menu icon */
    .header-bottom {
        .container {
            justify-content: center;

            .logo {
                margin: 0;
            }

            /* hide menu bar */
            .navbar{
                display: none;
            }
            
            .header-bottom-actions {
                /* show menu icons in bottom */
                display: flex;
                position: fixed;
                bottom: 0;
                width: 100%;
                height: 8%;
                background: white;
                margin: 0;
                justify-content: space-evenly;
                align-items: center;

                .header-bottom-actions-btn{
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    box-shadow: none;

                    &#menu-icon {
                        display: flex;
                    }

                    & span{
                        display: block;
                    }
                }
            }
        }
    }

    /* show left menu */
    /* .header .overlay{
        opacity: 1;
        pointer-events: all;
        background: hsla(0, 0%, 0%, 0.7);
    }

    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        background: white;
        height: 100%;
    }
    .header-bottom .container .navbar-top{
        display: flex;
        padding: 50px 0;
        border-bottom: 0.5px solid rgb(180, 175, 175);
        align-items: center;
        width: 100%;
    }

    .header-bottom .container .navbar-list{
        padding-top: 50px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: normal;
    } */

    /*  -------------------- Home section  -------------------- */
    #home .container{
        flex-direction: column;
        gap: 50px;

        .home-content{
            width: 80%;

            .home-title {
                width: 100%;
                font-size: 32px;
                font-weight: bold;
                line-height: 40px; /* 100% */
            }
        }

        .home-banner img{
            width: 80%;
        }
    }
    

    /*  -------------------- About Us  -------------------- */
    /* ************************************************** */
    
    #about-us .container{
        flex-direction: column;

        .about-banner{
            width: 90%;
        }

        .about-content{
            padding-left: 20px;
            padding-top: 20px;
            .about-title{
                width: 95%;
                @include text-style-2(26px, 1.3, 900);
            }

            .about-text{
                width: 90%;
                @include text-style-1(13px, 25px, 300);
            }

            .about-list{
                display: block;
            }

            & button{
                @include text-style-1(13px, normal, 300);
            }
        }
    }

    /*  -------------------- Our Main service  -------------------- */
    /* ************************************************** */
    #services .container{
        .service-content{
            flex-wrap: wrap;
            .service-item{
                flex-basis: 90%;
            }
        }
    }

    /*  -------------------- Feature listing  -------------------- */
    /* ************************************************** */

    #features .container .feature-content{
        flex-wrap: wrap;
        .feature-item{
            flex-basis: 95%;

            .feature-item-detail{
                .feature-detail-price{
                    @include text-style-2(18px,normal,600);

                    & sub{
                        @include text-style-2(12px,normal,400);
                    }
                }

                .feature-detail-title{
                    @include text-style-2(18px,30px,600);
                }

                .feature-detail-text{
                    @include text-style-1(12px,25px,400);
                }
            }
        }
    }

    /*  -------------------- Building Amenities  -------------------- */
    /* ************************************************** */
    #amenities .container{
        .amenity-title{
            @include text-style-2(32px,55px, 700);
            padding: 0;
        }
    }

    /*  -------------------- News Feeds  -------------------- */
    /* ************************************************** */

    #new-feeds .container {
        .feeds-title{
            @include text-style-2(30px,55px,700);
        }
        .feeds-content{
            flex-wrap: wrap;
            .feeds-item{
                flex-basis: 95%;

                .feeds-item-title{
                    @include text-style-2(18px,28px,600);
                }
            }

        }
    }

    /*  -------------------- Footer  -------------------- */
    /* ************************************************** */

    .cta{ 
        .cta-card{
            width: 60%;
            flex-direction: column;
            gap: 25px;

            .cta-text{
                align-items: center;
                gap: 20px;

                & p:first-child{
                    @include text-style-2(24px, 30px, 700);
                }
            }
            & button{
                padding: 10px 30px;
                @include text-style-2(12px, normal, 400);
            }
        }
    }

    .footer{
        .container{
            width: 80%;
            flex-direction: column;
            gap: 80px;

            .footer-link-box{
                width: 90%;
                gap: 30px;
                flex-direction: column;
            }
        }

        .copyright{
            padding-bottom: 20%;
        }
    }
}

@media screen and (min-width: 356px) and (max-width: 573px){
    /*  -------------------- Header  -------------------- */
    .header-top{
        height: 100px;

        .container{
            flex-direction: column;
            align-items: center;
            gap: 5px;
            margin: 0;
            height: auto;

            .header-top-list .header-top-link address{
                width: 150px;
            }
        }
    }

    /* -------------------- Menu -------------------- */
    /* show menu icon */
    .header-bottom {
        .container {
            justify-content: center;

            .logo {
                margin: 0;
            }

            /* hide menu bar */
            .navbar{
                display: none;
            }
            
            .header-bottom-actions {
                /* show menu icons in bottom */
                display: flex;
                position: fixed;
                bottom: 0;
                width: 100%;
                height: 8%;
                background: white;
                margin: 0;
                justify-content: space-evenly;
                align-items: center;

                .header-bottom-actions-btn{
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    box-shadow: none;

                    &#menu-icon {
                        display: flex;
                    }

                    & span{
                        display: block;
                    }
                }
            }
        }
    }

    /* show left menu */
    /* .header .overlay{
        opacity: 1;
        pointer-events: all;
        background: hsla(0, 0%, 0%, 0.7);
    }

    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        background: white;
        height: 100%;
    }
    .header-bottom .container .navbar-top{
        display: flex;
        padding: 50px 0;
        border-bottom: 0.5px solid rgb(180, 175, 175);
        align-items: center;
        width: 100%;
    }

    .header-bottom .container .navbar-list{
        padding-top: 50px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: normal;
    } */

    /*  -------------------- Home section  -------------------- */
    #home .container{
        flex-direction: column;
        gap: 50px;

        .home-content{
            width: 80%;

            .home-title {
                width: 100%;
                font-size: 38px;
                font-weight: bold;
                line-height: 40px; /* 100% */
            }
        }

        .home-banner img{
            width: 80%;
        }
    }

    /*  -------------------- About Us  -------------------- */
    /* ************************************************** */
    
    #about-us .container{
        flex-direction: column;

        .about-banner{
            width: 90%;
        }

        .about-content{
            padding-left: 20px;
            padding-top: 20px;
            .about-title{
                width: 95%;
                @include text-style-2(32px, 1.3, 900);
            }

            .about-text{
                width: 90%;
                @include text-style-1(14px, 25px, 400);
            }

            .about-list{
                display: block;
            }

            & button{
                @include text-style-1(14px, normal, 400);
            }
        }
    }

    /*  -------------------- Our Main service  -------------------- */
    /* ************************************************** */
    #services .container{
        .service-content{
            flex-wrap: wrap;
            .service-item{
                flex-basis: 90%;
            }
        }
    }

    /*  -------------------- Feature listing  -------------------- */
    /* ************************************************** */

    #features .container .feature-content{
        flex-wrap: wrap;
        .feature-item{
            flex-basis: 90%;
        }
    }

    /*  -------------------- Building Amenities  -------------------- */
    /* ************************************************** */
    #amenities .container{
        .amenity-title{
            @include text-style-2(36px,55px, 700);
            padding: 0;
        }
    }

    /*  -------------------- News Feeds  -------------------- */
    /* ************************************************** */

    #new-feeds .container {
        .feeds-title{
            @include text-style-2(32px,55px,700);
        }
        .feeds-content{
            flex-wrap: wrap;
            .feeds-item{
                flex-basis: 90%;
            }
        }
    }

    /*  -------------------- Footer  -------------------- */
    /* ************************************************** */

    .cta{ 
        .cta-card{
            width: 70%;
            flex-direction: column;
            gap: 25px;

            .cta-text{
                align-items: center;
                gap: 20px;

                & p:first-child{
                    @include text-style-2(24px, 45px, 700);
                }
            }
        }
    }

    .footer{
        .container{
            width: 80%;
            flex-direction: column;
            gap: 80px;

            .footer-link-box{
                width: 90%;
                gap: 30px;
                flex-direction: column;
            }
        }

        .copyright{
            padding-bottom: 16%;
        }
    }
}

@media screen and (min-width: 573px) and (max-width: 768px){
    /*  -------------------- Header  -------------------- */
    .header-top{
        height: 100px;

        .container{
            flex-direction: column;
            align-items: center;
            gap: 5px;
            margin: 0;
            height: auto;

            .header-top-list .header-top-link address{
                width: 150px;
            }
        }
    }

    /* -------------------- Menu -------------------- */
    /* show menu icon */
    .header-bottom {
        .container {
            justify-content: center;

            .logo {
                margin: 0;
            }

            /* hide menu bar */
            .navbar{
                display: none;
            }
            
            .header-bottom-actions {
                /* show menu icons in bottom */
                display: flex;
                position: fixed;
                bottom: 0;
                width: 100%;
                height: 8%;
                background: white;
                margin: 0;
                justify-content: space-evenly;
                align-items: center;

                .header-bottom-actions-btn{
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    box-shadow: none;

                    &#menu-icon {
                        display: flex;
                    }

                    & span{
                        display: block;
                    }
                }
            }
        }
    }

    /* show left menu */
    /* .header .overlay{
        opacity: 1;
        pointer-events: all;
        background: hsla(0, 0%, 0%, 0.7);
    }

    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        background: white;
        height: 100%;
    }
    .header-bottom .container .navbar-top{
        display: flex;
        padding: 50px 0;
        border-bottom: 0.5px solid rgb(180, 175, 175);
        align-items: center;
        width: 100%;
    }

    .header-bottom .container .navbar-list{
        padding-top: 50px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: normal;
    } */

    /*  -------------------- Home section  -------------------- */
    #home .container{
        flex-direction: column;
        gap: 50px;

        .home-content{
            width: 80%;
        }

        .home-banner img{
            width: 100%;
        }
    }

    /*  -------------------- About Us  -------------------- */
    /* ************************************************** */
    
    #about-us .container{
        flex-direction: column;
        

        .about-banner{
            width: 90%;
            max-width: max-content;
        }

        .about-content{
            padding-left: 20px;
            padding-top: 20px;
            width: 80%;

            .about-title{
                width: 100%;
                @include text-style-2(36px, 1.3, 900);
            }

            .about-text{
                width: 100%;
                @include text-style-1(14px, 25px, 400);
            }

            .about-list{
                display: block;
            }

            .callout{
                width: 85%;
            }

            & button{
                @include text-style-1(16px, normal, 400);
            }
        }
    }

    /*  -------------------- Our Main service  -------------------- */
    /* ************************************************** */
    #services .container{
        .service-content{
            flex-wrap: wrap;
            .service-item{
                flex-basis: 45%;
            }
        }
    }

    /*  -------------------- Feature listing  -------------------- */
    /* ************************************************** */

    #features .container .feature-content{
        flex-wrap: wrap;
        .feature-item{
            flex-basis: 80%;
        }
    }

    /*  -------------------- Building Amenities  -------------------- */
    /* ************************************************** */

    /*  -------------------- New Feeds  -------------------- */
    /* ************************************************** */

    #new-feeds .container .feeds-content{
        flex-wrap: wrap;
        .feeds-item{
            flex-basis: 80%;
        }
    }

    /*  -------------------- Footer  -------------------- */
    /* ************************************************** */

    .cta{ 
        .cta-card{
            width: 70%;
            flex-direction: column;
            gap: 25px;

            .cta-text{
                align-items: center;
                gap: 20px;

                & p:first-child{
                    @include text-style-2(28px, 45px, 700);
                }
            }
        }
    }

    .footer{
        .container{
            width: 80%;
            flex-direction: column;
            gap: 80px;

            .footer-link-box{
                width: 90%;
                gap: 30px;
                justify-content: space-between;
            }
        }

        .copyright{
            padding-bottom: 12%;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 993px){
    /*  -------------------- Header  -------------------- */
    .header-top .container{
        margin: 0;
        justify-content: space-around;
    }

    /* -------------------- Menu -------------------- */
    /* show menu icon */
    .header-bottom .container .header-bottom-actions .header-bottom-actions-btn#menu-icon {
        display: flex;
    }

    /* hide menu bar */
    .navbar{
        display: none;
    }

    /*  -------------------- Home section  -------------------- */
    #home .container{
        flex-direction: column;
        gap: 50px;

        .home-content{
            width: 80%;
        }

        .home-banner img{
            width: 100%;
        }
    }

    /*  -------------------- About Us  -------------------- */
    /* ************************************************** */
    
    #about-us .container{
        flex-direction: column;
        

        .about-banner{
            width: 90%;
            max-width: max-content;
        }

        .about-content{
            padding-left: 20px;
            padding-top: 20px;
            width: 60%;

            .about-title{
                // width: 100%;
                @include text-style-2(36px, 1.3, 900);
            }

            .about-text{
                // width: 100%;
                @include text-style-1(14px, 25px, 400);
            }

            .about-list{
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            .callout{
                width: 85%;
            }

            & button{
                @include text-style-1(16px, normal, 400);
            }
        }
    }

    /*  -------------------- Our Main service  -------------------- */
    /* ************************************************** */
    #services .container{
        .service-content{
            flex-wrap: wrap;
            .service-item{
                flex-basis: 40%;
            }
        }
    }

    /*  -------------------- Feature listing  -------------------- */
    /* ************************************************** */

    #features .container .feature-content{
        flex-wrap: wrap;
        .feature-item{
            flex-basis: 45%;
        }
    }
    
    /*  -------------------- Building Amenities  -------------------- */
    /* ************************************************** */

    /*  -------------------- News Feeds  -------------------- */
    /* ************************************************** */

    #new-feeds .container .feeds-content{
        flex-wrap: wrap;
        .feeds-item{
            flex-basis: 45%;
        }
    }

    /*  -------------------- Footer  -------------------- */
    /* ************************************************** */

    .cta{ 
        .cta-card{
            width: 80%;
            flex-direction: column;
            gap: 25px;

            .cta-text{
                align-items: center;
                gap: 20px;
            }
        }
    }

    .footer{
        .container{
            width: 90%;
            flex-direction: column;
            gap: 80px;

            .footer-link-box{
                width: 90%;
                gap: 30px;
                justify-content: space-between;
            }
        }
        
    }
}

@media screen and (min-width: 993px) and (max-width: 1180px){
    /*  -------------------- Header --------------------  */
    .header-top .container{
        margin: 0;
        justify-content: space-around;
    }

    /* -------------------- Menu -------------------- */
    /* show menu icon */
    .header-bottom .container .header-bottom-actions .header-bottom-actions-btn#menu-icon {
        display: flex;
    }

    /* hide menu bar */
    .navbar{
        display: none;
    }

    /*  -------------------- Home section --------------------  */
    #home .container{
        gap: 50px;

        .home-content {
            flex-basis: 45%;
        }

        .home-title {
            width: 100%;
        }

        .home-banner {
            flex-basis: 40%;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }

    /*  -------------------- About Us  -------------------- */
    /* ************************************************** */
    
    #about-us .container{
        .about-banner{
            margin-right: 20px;
            margin-left: 0px;
        }
        .about-content{
            .about-title{
                @include text-style-2(30px, 1.3, 900);
            }

            .about-list{
                width: 110%;
            }

            .callout{
                width: 95%;
            }
        }
    }

    /*  -------------------- Feature listing  -------------------- */
    /* ************************************************** */

    #features .container .feature-content{
        flex-wrap: wrap;
        .feature-item{
            flex-basis: 45%;
        }
    }

    /*  -------------------- Building Amenities  -------------------- */
    /* ************************************************** */

    /*  -------------------- News Feeds  -------------------- */
    /* ************************************************** */

    #new-feeds .container .feeds-content{
        flex-wrap: wrap;
        .feeds-item{
            flex-basis: 45%;
        }
    }

    /*  -------------------- Footer  -------------------- */
    /* ************************************************** */

    .cta{ 
        .cta-card{
            width: 80%;
        }
    }

    .footer{
        .container{
            width: 90%;
        }
    }
}
