@media screen and (max-width: 356px) {
  /*  -------------------- Header  -------------------- */
  /* ************************************************** */
  .header-top {
    height: 120px;
    align-items: flex-start;
    justify-content: center;
  }
  .header-top .container {
    flex-direction: column;
    gap: 5px;
  }
  .header-top .container .header-top-list {
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }
  .header-top .container .header-top-list .header-top-link address {
    width: 150px;
  }
  .header-top .container .wrapper {
    flex-direction: column;
    gap: 5px;
  }
  /* -------------------- Menu -------------------- */
  /* show menu icon */
  .header-bottom .container {
    justify-content: center;
    /* hide menu bar */
  }
  .header-bottom .container .logo {
    margin: 0;
  }
  .header-bottom .container .navbar {
    display: none;
  }
  .header-bottom .container .header-bottom-actions {
    /* show menu icons in bottom */
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
    background: white;
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
  }
  .header-bottom .container .header-bottom-actions .header-bottom-actions-btn {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: none;
  }
  .header-bottom .container .header-bottom-actions .header-bottom-actions-btn#menu-icon {
    display: flex;
  }
  .header-bottom .container .header-bottom-actions .header-bottom-actions-btn span {
    display: block;
  }
  /* show left menu */
  /* .header .overlay{
      opacity: 1;
      pointer-events: all;
      background: hsla(0, 0%, 0%, 0.7);
  }

  .navbar{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      background: white;
      height: 100%;
  }
  .header-bottom .container .navbar-top{
      display: flex;
      padding: 50px 0;
      border-bottom: 0.5px solid rgb(180, 175, 175);
      align-items: center;
      width: 100%;
  }

  .header-bottom .container .navbar-list{
      padding-top: 50px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: normal;
  } */
  /*  -------------------- Home section  -------------------- */
  #home .container {
    flex-direction: column;
    gap: 50px;
  }
  #home .container .home-content {
    width: 80%;
  }
  #home .container .home-content .home-title {
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    line-height: 40px; /* 100% */
  }
  #home .container .home-banner img {
    width: 80%;
  }
  /*  -------------------- About Us  -------------------- */
  /* ************************************************** */
  #about-us .container {
    flex-direction: column;
  }
  #about-us .container .about-banner {
    width: 90%;
  }
  #about-us .container .about-content {
    padding-left: 20px;
    padding-top: 20px;
  }
  #about-us .container .about-content .about-title {
    width: 95%;
    font-family: Poppins;
    font-style: normal;
    font-size: 26px;
    line-height: 1.3;
    font-weight: 900;
  }
  #about-us .container .about-content .about-text {
    width: 90%;
    font-family: "Nunito Sans";
    font-style: normal;
    line-height: 25px;
    font-size: 13px;
    font-weight: 300;
  }
  #about-us .container .about-content .about-list {
    display: block;
  }
  #about-us .container .about-content button {
    font-family: "Nunito Sans";
    font-style: normal;
    line-height: normal;
    font-size: 13px;
    font-weight: 300;
  }
  /*  -------------------- Our Main service  -------------------- */
  /* ************************************************** */
  #services .container .service-content {
    flex-wrap: wrap;
  }
  #services .container .service-content .service-item {
    flex-basis: 90%;
  }
  /*  -------------------- Feature listing  -------------------- */
  /* ************************************************** */
  #features .container .feature-content {
    flex-wrap: wrap;
  }
  #features .container .feature-content .feature-item {
    flex-basis: 95%;
  }
  #features .container .feature-content .feature-item .feature-item-detail .feature-detail-price {
    font-family: Poppins;
    font-style: normal;
    font-size: 18px;
    line-height: normal;
    font-weight: 600;
  }
  #features .container .feature-content .feature-item .feature-item-detail .feature-detail-price sub {
    font-family: Poppins;
    font-style: normal;
    font-size: 12px;
    line-height: normal;
    font-weight: 400;
  }
  #features .container .feature-content .feature-item .feature-item-detail .feature-detail-title {
    font-family: Poppins;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
  }
  #features .container .feature-content .feature-item .feature-item-detail .feature-detail-text {
    font-family: "Nunito Sans";
    font-style: normal;
    line-height: 25px;
    font-size: 12px;
    font-weight: 400;
  }
  /*  -------------------- Building Amenities  -------------------- */
  /* ************************************************** */
  #amenities .container .amenity-title {
    font-family: Poppins;
    font-style: normal;
    font-size: 32px;
    line-height: 55px;
    font-weight: 700;
    padding: 0;
  }
  /*  -------------------- News Feeds  -------------------- */
  /* ************************************************** */
  #new-feeds .container .feeds-title {
    font-family: Poppins;
    font-style: normal;
    font-size: 30px;
    line-height: 55px;
    font-weight: 700;
  }
  #new-feeds .container .feeds-content {
    flex-wrap: wrap;
  }
  #new-feeds .container .feeds-content .feeds-item {
    flex-basis: 95%;
  }
  #new-feeds .container .feeds-content .feeds-item .feeds-item-title {
    font-family: Poppins;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
  }
  /*  -------------------- Footer  -------------------- */
  /* ************************************************** */
  .cta .cta-card {
    width: 60%;
    flex-direction: column;
    gap: 25px;
  }
  .cta .cta-card .cta-text {
    align-items: center;
    gap: 20px;
  }
  .cta .cta-card .cta-text p:first-child {
    font-family: Poppins;
    font-style: normal;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
  }
  .cta .cta-card button {
    padding: 10px 30px;
    font-family: Poppins;
    font-style: normal;
    font-size: 12px;
    line-height: normal;
    font-weight: 400;
  }
  .footer .container {
    width: 80%;
    flex-direction: column;
    gap: 80px;
  }
  .footer .container .footer-link-box {
    width: 90%;
    gap: 30px;
    flex-direction: column;
  }
  .footer .copyright {
    padding-bottom: 20%;
  }
}
@media screen and (min-width: 356px) and (max-width: 573px) {
  /*  -------------------- Header  -------------------- */
  .header-top {
    height: 100px;
  }
  .header-top .container {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 0;
    height: auto;
  }
  .header-top .container .header-top-list .header-top-link address {
    width: 150px;
  }
  /* -------------------- Menu -------------------- */
  /* show menu icon */
  .header-bottom .container {
    justify-content: center;
    /* hide menu bar */
  }
  .header-bottom .container .logo {
    margin: 0;
  }
  .header-bottom .container .navbar {
    display: none;
  }
  .header-bottom .container .header-bottom-actions {
    /* show menu icons in bottom */
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
    background: white;
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
  }
  .header-bottom .container .header-bottom-actions .header-bottom-actions-btn {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: none;
  }
  .header-bottom .container .header-bottom-actions .header-bottom-actions-btn#menu-icon {
    display: flex;
  }
  .header-bottom .container .header-bottom-actions .header-bottom-actions-btn span {
    display: block;
  }
  /* show left menu */
  /* .header .overlay{
      opacity: 1;
      pointer-events: all;
      background: hsla(0, 0%, 0%, 0.7);
  }

  .navbar{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      background: white;
      height: 100%;
  }
  .header-bottom .container .navbar-top{
      display: flex;
      padding: 50px 0;
      border-bottom: 0.5px solid rgb(180, 175, 175);
      align-items: center;
      width: 100%;
  }

  .header-bottom .container .navbar-list{
      padding-top: 50px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: normal;
  } */
  /*  -------------------- Home section  -------------------- */
  #home .container {
    flex-direction: column;
    gap: 50px;
  }
  #home .container .home-content {
    width: 80%;
  }
  #home .container .home-content .home-title {
    width: 100%;
    font-size: 38px;
    font-weight: bold;
    line-height: 40px; /* 100% */
  }
  #home .container .home-banner img {
    width: 80%;
  }
  /*  -------------------- About Us  -------------------- */
  /* ************************************************** */
  #about-us .container {
    flex-direction: column;
  }
  #about-us .container .about-banner {
    width: 90%;
  }
  #about-us .container .about-content {
    padding-left: 20px;
    padding-top: 20px;
  }
  #about-us .container .about-content .about-title {
    width: 95%;
    font-family: Poppins;
    font-style: normal;
    font-size: 32px;
    line-height: 1.3;
    font-weight: 900;
  }
  #about-us .container .about-content .about-text {
    width: 90%;
    font-family: "Nunito Sans";
    font-style: normal;
    line-height: 25px;
    font-size: 14px;
    font-weight: 400;
  }
  #about-us .container .about-content .about-list {
    display: block;
  }
  #about-us .container .about-content button {
    font-family: "Nunito Sans";
    font-style: normal;
    line-height: normal;
    font-size: 14px;
    font-weight: 400;
  }
  /*  -------------------- Our Main service  -------------------- */
  /* ************************************************** */
  #services .container .service-content {
    flex-wrap: wrap;
  }
  #services .container .service-content .service-item {
    flex-basis: 90%;
  }
  /*  -------------------- Feature listing  -------------------- */
  /* ************************************************** */
  #features .container .feature-content {
    flex-wrap: wrap;
  }
  #features .container .feature-content .feature-item {
    flex-basis: 90%;
  }
  /*  -------------------- Building Amenities  -------------------- */
  /* ************************************************** */
  #amenities .container .amenity-title {
    font-family: Poppins;
    font-style: normal;
    font-size: 36px;
    line-height: 55px;
    font-weight: 700;
    padding: 0;
  }
  /*  -------------------- News Feeds  -------------------- */
  /* ************************************************** */
  #new-feeds .container .feeds-title {
    font-family: Poppins;
    font-style: normal;
    font-size: 32px;
    line-height: 55px;
    font-weight: 700;
  }
  #new-feeds .container .feeds-content {
    flex-wrap: wrap;
  }
  #new-feeds .container .feeds-content .feeds-item {
    flex-basis: 90%;
  }
  /*  -------------------- Footer  -------------------- */
  /* ************************************************** */
  .cta .cta-card {
    width: 70%;
    flex-direction: column;
    gap: 25px;
  }
  .cta .cta-card .cta-text {
    align-items: center;
    gap: 20px;
  }
  .cta .cta-card .cta-text p:first-child {
    font-family: Poppins;
    font-style: normal;
    font-size: 24px;
    line-height: 45px;
    font-weight: 700;
  }
  .footer .container {
    width: 80%;
    flex-direction: column;
    gap: 80px;
  }
  .footer .container .footer-link-box {
    width: 90%;
    gap: 30px;
    flex-direction: column;
  }
  .footer .copyright {
    padding-bottom: 16%;
  }
}
@media screen and (min-width: 573px) and (max-width: 768px) {
  /*  -------------------- Header  -------------------- */
  .header-top {
    height: 100px;
  }
  .header-top .container {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 0;
    height: auto;
  }
  .header-top .container .header-top-list .header-top-link address {
    width: 150px;
  }
  /* -------------------- Menu -------------------- */
  /* show menu icon */
  .header-bottom .container {
    justify-content: center;
    /* hide menu bar */
  }
  .header-bottom .container .logo {
    margin: 0;
  }
  .header-bottom .container .navbar {
    display: none;
  }
  .header-bottom .container .header-bottom-actions {
    /* show menu icons in bottom */
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
    background: white;
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
  }
  .header-bottom .container .header-bottom-actions .header-bottom-actions-btn {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: none;
  }
  .header-bottom .container .header-bottom-actions .header-bottom-actions-btn#menu-icon {
    display: flex;
  }
  .header-bottom .container .header-bottom-actions .header-bottom-actions-btn span {
    display: block;
  }
  /* show left menu */
  /* .header .overlay{
      opacity: 1;
      pointer-events: all;
      background: hsla(0, 0%, 0%, 0.7);
  }

  .navbar{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      background: white;
      height: 100%;
  }
  .header-bottom .container .navbar-top{
      display: flex;
      padding: 50px 0;
      border-bottom: 0.5px solid rgb(180, 175, 175);
      align-items: center;
      width: 100%;
  }

  .header-bottom .container .navbar-list{
      padding-top: 50px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: normal;
  } */
  /*  -------------------- Home section  -------------------- */
  #home .container {
    flex-direction: column;
    gap: 50px;
  }
  #home .container .home-content {
    width: 80%;
  }
  #home .container .home-banner img {
    width: 100%;
  }
  /*  -------------------- About Us  -------------------- */
  /* ************************************************** */
  #about-us .container {
    flex-direction: column;
  }
  #about-us .container .about-banner {
    width: 90%;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  #about-us .container .about-content {
    padding-left: 20px;
    padding-top: 20px;
    width: 80%;
  }
  #about-us .container .about-content .about-title {
    width: 100%;
    font-family: Poppins;
    font-style: normal;
    font-size: 36px;
    line-height: 1.3;
    font-weight: 900;
  }
  #about-us .container .about-content .about-text {
    width: 100%;
    font-family: "Nunito Sans";
    font-style: normal;
    line-height: 25px;
    font-size: 14px;
    font-weight: 400;
  }
  #about-us .container .about-content .about-list {
    display: block;
  }
  #about-us .container .about-content .callout {
    width: 85%;
  }
  #about-us .container .about-content button {
    font-family: "Nunito Sans";
    font-style: normal;
    line-height: normal;
    font-size: 16px;
    font-weight: 400;
  }
  /*  -------------------- Our Main service  -------------------- */
  /* ************************************************** */
  #services .container .service-content {
    flex-wrap: wrap;
  }
  #services .container .service-content .service-item {
    flex-basis: 45%;
  }
  /*  -------------------- Feature listing  -------------------- */
  /* ************************************************** */
  #features .container .feature-content {
    flex-wrap: wrap;
  }
  #features .container .feature-content .feature-item {
    flex-basis: 80%;
  }
  /*  -------------------- Building Amenities  -------------------- */
  /* ************************************************** */
  /*  -------------------- New Feeds  -------------------- */
  /* ************************************************** */
  #new-feeds .container .feeds-content {
    flex-wrap: wrap;
  }
  #new-feeds .container .feeds-content .feeds-item {
    flex-basis: 80%;
  }
  /*  -------------------- Footer  -------------------- */
  /* ************************************************** */
  .cta .cta-card {
    width: 70%;
    flex-direction: column;
    gap: 25px;
  }
  .cta .cta-card .cta-text {
    align-items: center;
    gap: 20px;
  }
  .cta .cta-card .cta-text p:first-child {
    font-family: Poppins;
    font-style: normal;
    font-size: 28px;
    line-height: 45px;
    font-weight: 700;
  }
  .footer .container {
    width: 80%;
    flex-direction: column;
    gap: 80px;
  }
  .footer .container .footer-link-box {
    width: 90%;
    gap: 30px;
    justify-content: space-between;
  }
  .footer .copyright {
    padding-bottom: 12%;
  }
}
@media screen and (min-width: 768px) and (max-width: 993px) {
  /*  -------------------- Header  -------------------- */
  .header-top .container {
    margin: 0;
    justify-content: space-around;
  }
  /* -------------------- Menu -------------------- */
  /* show menu icon */
  .header-bottom .container .header-bottom-actions .header-bottom-actions-btn#menu-icon {
    display: flex;
  }
  /* hide menu bar */
  .navbar {
    display: none;
  }
  /*  -------------------- Home section  -------------------- */
  #home .container {
    flex-direction: column;
    gap: 50px;
  }
  #home .container .home-content {
    width: 80%;
  }
  #home .container .home-banner img {
    width: 100%;
  }
  /*  -------------------- About Us  -------------------- */
  /* ************************************************** */
  #about-us .container {
    flex-direction: column;
  }
  #about-us .container .about-banner {
    width: 90%;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  #about-us .container .about-content {
    padding-left: 20px;
    padding-top: 20px;
    width: 60%;
  }
  #about-us .container .about-content .about-title {
    font-family: Poppins;
    font-style: normal;
    font-size: 36px;
    line-height: 1.3;
    font-weight: 900;
  }
  #about-us .container .about-content .about-text {
    font-family: "Nunito Sans";
    font-style: normal;
    line-height: 25px;
    font-size: 14px;
    font-weight: 400;
  }
  #about-us .container .about-content .about-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #about-us .container .about-content .callout {
    width: 85%;
  }
  #about-us .container .about-content button {
    font-family: "Nunito Sans";
    font-style: normal;
    line-height: normal;
    font-size: 16px;
    font-weight: 400;
  }
  /*  -------------------- Our Main service  -------------------- */
  /* ************************************************** */
  #services .container .service-content {
    flex-wrap: wrap;
  }
  #services .container .service-content .service-item {
    flex-basis: 40%;
  }
  /*  -------------------- Feature listing  -------------------- */
  /* ************************************************** */
  #features .container .feature-content {
    flex-wrap: wrap;
  }
  #features .container .feature-content .feature-item {
    flex-basis: 45%;
  }
  /*  -------------------- Building Amenities  -------------------- */
  /* ************************************************** */
  /*  -------------------- News Feeds  -------------------- */
  /* ************************************************** */
  #new-feeds .container .feeds-content {
    flex-wrap: wrap;
  }
  #new-feeds .container .feeds-content .feeds-item {
    flex-basis: 45%;
  }
  /*  -------------------- Footer  -------------------- */
  /* ************************************************** */
  .cta .cta-card {
    width: 80%;
    flex-direction: column;
    gap: 25px;
  }
  .cta .cta-card .cta-text {
    align-items: center;
    gap: 20px;
  }
  .footer .container {
    width: 90%;
    flex-direction: column;
    gap: 80px;
  }
  .footer .container .footer-link-box {
    width: 90%;
    gap: 30px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 993px) and (max-width: 1180px) {
  /*  -------------------- Header --------------------  */
  .header-top .container {
    margin: 0;
    justify-content: space-around;
  }
  /* -------------------- Menu -------------------- */
  /* show menu icon */
  .header-bottom .container .header-bottom-actions .header-bottom-actions-btn#menu-icon {
    display: flex;
  }
  /* hide menu bar */
  .navbar {
    display: none;
  }
  /*  -------------------- Home section --------------------  */
  #home .container {
    gap: 50px;
  }
  #home .container .home-content {
    flex-basis: 45%;
  }
  #home .container .home-title {
    width: 100%;
  }
  #home .container .home-banner {
    flex-basis: 40%;
  }
  #home .container .home-banner img {
    width: 100%;
    height: 100%;
  }
  /*  -------------------- About Us  -------------------- */
  /* ************************************************** */
  #about-us .container .about-banner {
    margin-right: 20px;
    margin-left: 0px;
  }
  #about-us .container .about-content .about-title {
    font-family: Poppins;
    font-style: normal;
    font-size: 30px;
    line-height: 1.3;
    font-weight: 900;
  }
  #about-us .container .about-content .about-list {
    width: 110%;
  }
  #about-us .container .about-content .callout {
    width: 95%;
  }
  /*  -------------------- Feature listing  -------------------- */
  /* ************************************************** */
  #features .container .feature-content {
    flex-wrap: wrap;
  }
  #features .container .feature-content .feature-item {
    flex-basis: 45%;
  }
  /*  -------------------- Building Amenities  -------------------- */
  /* ************************************************** */
  /*  -------------------- News Feeds  -------------------- */
  /* ************************************************** */
  #new-feeds .container .feeds-content {
    flex-wrap: wrap;
  }
  #new-feeds .container .feeds-content .feeds-item {
    flex-basis: 45%;
  }
  /*  -------------------- Footer  -------------------- */
  /* ************************************************** */
  .cta .cta-card {
    width: 80%;
  }
  .footer .container {
    width: 90%;
  }
}/*# sourceMappingURL=responsive.css.map */